$celeste:#00BBC8;
$plomo: #ccc;
$negro: #000; 

@import 'blog.scss';
@import 'galeria.scss';
@import 'form.scss';

a:hover{
	text-decoration: none;
}
h1, h2, h3{
	margin: 0;
}
.cuadro {
	width: 100%; 
	height: 340px;
	text-align: center;
	display: inline-block;
	position: relative;
	margin-bottom: 25px;
	//background-image: url('../img/settore1.jpg');
	background-size: cover;
	background-attachment: fixed;
	h3{ color: #000;  font-size: 28px;     font-weight: 600; margin-top: 42px;}
	span{
		background: $plomo;
		color: #fff;
		padding: 10px 33px; 
		margin-top: 36px;
		display: inline-block;
		font-size: 17px;
		text-transform: uppercase;
	}
	img{
		display: block;
		margin: 0 auto;
	}
	&:before{
		content: '';
		width: 100%;
		height: 100%;
		display: inline-block;
		background: #fff;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.7;
		z-index: 1;
	}
	div{
		position: relative;
		z-index: 2;
	}
	&:hover{
		text-decoration: none;
		&:before { opacity: 0; }
		span {background: $celeste;}	

	}
}
.mapa{
	height: 300px;
}
.item{
	text-align: center;
	padding: 25px;
	border: 1px solid $celeste;
	h4{
		margin: 0;
	}
}
.owl-prev{
	font-size: 0px !important;
    position: absolute;
    top: 28%;	
    left: -50px;
	&:before{
		content: "\e257";
	    font-family: 'Glyphicons Halflings';
	    display: inline-block;
	    font-size: 19px;
	}
}
.owl-next{
	font-size: 0px !important;
	position: absolute;
	top: 28%;
	right: -50px;
	&:before{
		content: "\e258";
	    font-family: 'Glyphicons Halflings';
	    display: inline-block;
	    font-size: 19px;
	}
}
.titulos {
	text-align: center;
	display: inline-block;
	width: 100%;
}

